@use "../../pages/index/index.scss" as *;
.bg_finger{
  background: url(../../../public/images/section_bg.png);
  background-size: cover;
  
}

.finger_wrapper {
  padding: 4rem 2rem;
  .finger_heading {
    h1 {
      font-size: $heading;
      color: $font-color-primary;
    }
    p {
      color: $font-color-secondary;
      font-size: clamp(0.8rem, 5vw, 0.9rem);
    }
  }
  .finger_slider {
    padding: 2rem 0;
    .swiper {
      .swiper-slide {
        height: 400px;
        .slide_wrapper {
          width: 95%;
          height: 75%;
          margin: 20px auto 0 auto;
          border-radius: 5px;
          padding: 2rem;
          transition: all .4s ease;
          box-shadow: 2px 2px 9px 0px rgba(163, 160, 160, 0.2392156863);
          background-color: transparent;
          .icon {
            width: 68px;
            margin-top: 15px;
            svg {
              fill: #D355B9;
            }
          }
          h1 {
            font-size: 1.3rem;
            margin: 25px 0;
            color: $font-color-primary;
          }
          p {
            font-size: clamp(0.8rem, 5vw, 0.9rem);
            color: $font-color-secondary;
          }
          &:hover{
            background: $linear-bg-top-corner;
            transform: translateY(-20px);
            h1{
                color: white;
            }
            p{
                color: white;
            }
            .icon{
                svg{
                    fill: white;
                }
            }
          }
        }
      }
    }
  }
}
